.foot {
  padding: 5vw;
}

.subtitle {
  padding: 2vw 5vw;
  background-color: #f5f5f5;
  font-size: 1.3em;
  font-weight: bold;
}

.content-area {
  padding: 5vw;
}

.member-card {
  border-color: lightblue;
  border-width: 0.5vw;
  border-style: solid;
  height: 20vw;
  border-radius: 5vw;
  padding: 2vw;
}